body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    font-family: "Enchanted Land", sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

/* Set Background */

.home,
.presentation,
.carousel-clan,
.slide-desert,
.slide-feu,
.slide-glace,
.slide-foret {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* NavBar */

.nav {
    z-index: 1000;
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #290661;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #111;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #290661;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #111;
}

.navTrigger {
    display: none;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: transparent;
        /*same background color of navbar*/
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}

/* Animation */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #111;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #fff;
}

/* Background Home */

.home {
    background-image: url(../data/image/home/presentation.jpg);
}

/* Title */

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box
}


svg text {
    stroke: #0ed1c1;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 5;
    animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dasharray: 20%;
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dasharray: -20%;
    }
}

/* Static Carousel Presentation */

.static_carousel {
    width: auto;
    height: 100%;
    display: flex;
}

.static_carousel>a {
    width: 25%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.static_carousel>a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.first_bandeau {
    background-image: url(../data/image/static_carousel/forgeron_clan.jpg);
    left: 0%;
}

.second_bandeau {
    background-image: url(../data/image/static_carousel/glace_clan.jpg);
    left: 25%;
}

.third_bandeau {
    background-image: url(../data/image/static_carousel/hippie_clan.jpg);
    left: 50%;
}

.fourth_bandeau {
    background-image: url(../data/image/static_carousel/marchant_clan.jpg);
    left: 75%;
}

/* Slides */

.slide-desert {
    background-image: url(../data/image/clan-carousel/background/desert.png);
}

.slide-feu {
    background-image: url(../data/image/clan-carousel/background/feu.png);
}

.slide-glace {
    background-image: url(../data/image/clan-carousel/background/glace.png);
}

.slide-foret {
    background-image: url(../data/image/clan-carousel/background/foret.png);
}

.slide-desert > img {
    position: relative;
    bottom: -58.5%;
    left: -40%;
    height: 500px;
    width: auto;
}

.slide-feu > img {
    position: relative;
    bottom: -58.5%;
    left: -40%;
    height: 500px;
    width: auto;
}

.slide-glace > img {
    position: relative;
    bottom: -58.5%;
    left: -40%;
    height: 500px;
    width: auto;
}

.slide-foret > img {
    position: relative;
    bottom: -58.5%;
    left: -40%;
    height: 500px;
    width: auto;
}

/* Download */

* {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}

.title {
    margin-top: 50px;
    font-family: Arial;
    font-size: 24px;
    color: #fff;
}

.cont_principal {
    position: relative;
    width: 100%;
    height: 25%;
    background: #212529;
}

.cont_centrar {
    position: absolute;
    width: 300px;
    height: 100px;
    /*   background-color: #eee; */
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -50px;
    cursor: pointer;
}

.texto_centro {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 800;
    font-family: Arial;
    color: #fff;
}

.active_txt {
    animation: text_anim 0.3s infinite alternate;
}

#svg4174 {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
}

.activebtn_fin #rect4147 {
    transition: all 0.5s;
    stroke-dashoffset: 0px;
    stroke-dasharray: 800px, 800px;
}

.activebtn #rect4147 {
    stroke-dashoffset: 800px;
    stroke-dasharray: 0px, 800px;
    transition: all 2s;
    animation: dash_movimiento 15s 1 alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-delay: 2s;
}

#rect4147 {
    stroke-dashoffset: 0px;
    stroke-dasharray: 800px, 800px;
}


@-webkit-keyframes dash_movimiento {
    0% {
        stroke-dashoffset: 800;
        stroke-dasharray: 0px;
    }

    100% {
        stroke-dashoffset: 0px;
        stroke-dasharray: 800px, 800px;
    }

}

@-o-keyframes dash_movimiento {
    0% {
        stroke-dashoffset: 800;
        stroke-dasharray: 100px;
    }

    100% {
        stroke-dashoffset: 0px;
        stroke-dasharray: 800px, 800px;
    }

}

@-moz-keyframes dash_movimiento {
    0% {
        stroke-dashoffset: 800;
        stroke-dasharray: 100px;
    }

    100% {
        stroke-dashoffset: 0px;
        stroke-dasharray: 800px, 800px;
    }
}

@keyframes dash_movimiento {
    0% {
        stroke-dashoffset: 800px;
        stroke-dasharray: 0px, 800px;
    }

    10% {
        stroke-dashoffset: 700px;
        stroke-dasharray: 100px, 800px;
    }

    20% {
        stroke-dashoffset: 600px;
        stroke-dasharray: 200px, 800px;
    }

    30% {
        stroke-dashoffset: 500px;
        stroke-dasharray: 300px, 800px;
    }

    40% {
        stroke-dashoffset: 400px;
        stroke-dasharray: 400px, 800px;
    }

    50% {
        stroke-dashoffset: 300px;
        stroke-dasharray: 500px, 800px;
    }

    60% {
        stroke-dashoffset: 200px;
        stroke-dasharray: 600px, 800px;
    }

    70% {
        stroke-dashoffset: 100px;
        stroke-dasharray: 700px, 800px;

    }

    80% {
        stroke-dashoffset: 50px;
        stroke-dasharray: 750px, 800px;

    }

    90% {
        stroke-dashoffset: 25px;
        stroke-dasharray: 770px, 800px;
    }

    100% {
        stroke-dashoffset: 0px;
        stroke-dasharray: 800px, 800px;
    }

}


@-webkit-keyframes text_anim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }

}

@-o-keyframes text_anim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }

}

@-moz-keyframes text_anim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes text_anim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }

}

#path4138 {
    stroke-dashoffset: 30px;
    stroke-dasharray: 30px, 30px;
    transition: all 0.5s;
    opacity: 0;
}

.activebtn_fin #path4138 {
    stroke-dashoffset: 0px;
    transition-delay: 0.5s;
    opacity: 1;
}

.op_0 {
    transition: all 0.5s;
    opacity: 0;
}

#svg2 {

    position: absolute;
    top: 33px;
}

/* Go to top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}

.figure {
    right: 0px;
    width: 5%;
    /* can be omitted for a regular non-lazy image */
    max-width: 100%;
}

.figure img.image-hover_gototop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.figure:hover img.image-hover_gototop {
    opacity: 1;
}